$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$navbar-header-color: purple;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
nav{

  div.navbar-header{
    background-color: $navbar-header-color;
  }
  
}
